
table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
    width: 700px;
    text-align: center;
    margin: 0 auto;
  
  
}

h3 {
    text-align: center;

}

th {

    background-color: aqua;
}
